/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, p {
    cursor:default;
}
/* General Reset */



/* HEADER & TITLE */
h1 {
    font-size: 3.125rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: black;
    letter-spacing: -1.5px;
    text-align: center;
    padding-top: 40px;
}
h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
/* HEADER & TITLE */



/* NAVBAR */
.navbar ul {
    list-style-type: none;
    overflow: hidden;
    display:flex;
    justify-content: center;
    padding-bottom: 10px;
}
.navbar li {
    padding: 10px;
    float: left;
}
.navbar a { /* button underline animation */
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    color: rgb(140, 140, 140);
    position: relative;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}
.navbar a:after { /* button underline animation */
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: rgb(150, 150, 150);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}
.navbar a:hover { /* button underline animation */
    color: rgb(150, 150, 150);
}
.navbar a:hover:after { /* button underline animation */
    width: 100%;
    left: 0%;
}
/* NAVBAR */



/* TABLE SECTION STYLING */
.table-sections {
    width: 100%;
    border-collapse: collapse;
}
.table-sections td {
    width: 33.33%;
    text-align: center;
    vertical-align: top;
}
.table-sections h2 {
    padding: 5% 0%; /* TB, RL */
    font-size: 30px;
}
.table-sections p {
    padding: 0% 5% 8% 5%; /* T, R, B, L*/
    text-align: justify; /* Makes each line take up full horizontal space */
    text-justify: inter-word; /* Makes each line take up full horizontal space */
    /* line-height: 0.75; */
    /* word-spacing:0.1rem; */
    color: rgb(59, 59, 59);
    font-size: 1.25rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-weight:normal; */
}
.table-sections-text {
    display: flex;
    align-items: center;
    height: max-content;
}
/* TABLE SECTION STYLING */



/* PICTURE SLIDE DECK STYLING */
.carousel {
    position: relative;
    width: 90%; /* Adjust based on requirement */
    margin: auto;
    overflow: hidden;
}
.carousel-images {
    position: relative;
    overflow: hidden;
}
.carousel-images img {
    width: 100%;
    height:100%;
    display: none;
}
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: rgba(0,0,0,0.5);
    border: none;
    color: white;
    font-size: 24px;
    padding: 10px;
}
.left-arrow {
    left: 10px;
}
.right-arrow {
    right: 10px;
}
.carousel-dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
.carousel-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    display: inline-block;
    border-radius: 50%;
}
/* PICTURE SLIDE DECK STYLING */