/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  height: 100%; /* Essential for parallax effect */
}


/* Header title */
h1 {
  font-size: 50px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: black;
  letter-spacing: -1.5px;
  text-align: center;
  padding-top: 40px;
}

h2 {
  font-size: 40px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: normal;
  color: rgb(25, 25, 25);
  text-align: center;
  padding-bottom: 10px
}
p {
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: normal;
  color: rgb(139, 139, 139);
  text-align: center;
  line-height: 1.5;
  margin: 0 10%;
}

/* Navbar */
.navbar ul {
  list-style-type: none;
  overflow: hidden;
  display:flex;
  justify-content: center;
  padding-bottom: 10px;
}
.navbar li {
  padding: 10px;
  float: left;
}
/* Button Underline Animation */ 
.navbar a {
  text-decoration: none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: normal;
  color: rgb(140, 140, 140);
  position: relative;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}
.navbar a:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: rgb(150, 150, 150);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
.navbar a:hover {
  color: rgb(150, 150, 150);
}
.navbar a:hover:after {
  width: 100%;
  left: 0%;
}


/* Parallax effects for images */
.parallax {
  height: 65%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Sections between parallax images */
.section {
  text-align: center;
  padding: 30px 80px;
  font-size: 30px;
  color: #777;
  background-color:white;
  /* min-height: 300px; */
}
