
/* General Styles */
body {
    background-color: #101010;
    color: #e0e0e0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.frame {
    margin: auto;
    max-width: 47.5rem;
    padding: 3rem 2.5rem;
    font-size: 1.1rem;
    line-height: 34px;
    letter-spacing: 0.9px;
}

/* Navbar Styles */
.navbar {
    margin: 0;
    padding: 0;
    padding-left: 1em;
    padding-right:1em;
    display: flex;
    flex-direction: row;
    color:rgba(181, 181, 181, 0.918);
}
.navbar header{
    cursor: pointer;
    font-weight: 500;
    white-space: nowrap;
    letter-spacing: 0.15em;
}
.nav-elements { /* All properties needed to align items at end of container */
    display:inherit; 
    flex-direction: inherit;
    justify-content: flex-end;
    flex: 1 1 0%;
}
.navbar button {
    background-color: inherit;
    color: inherit;
    cursor: pointer;
    border: none;
    font-weight: 300;
    font-size: 1em;
    padding-left: 2em;
    padding-right: 0;
}
.navbar a {
    text-decoration: none;
    color: inherit;
}
.navbar button:hover, header:hover {
    color: rgb(122, 122, 255)
}

/* Profile Section Styles */
.profile {
    display: flex;
    padding-top: 6.2rem;
    padding-bottom: 6.2rem;
    font-size: 1.2rem;
    line-height: 2.8rem;
    align-items: center;
    flex-wrap:nowrap;
    max-height: 150px;
    margin:0;
}
.profile-img{
    width: 140px;
    height: 140px;
    margin-left:5px;
    margin-top:5px;
    border-radius: 50%;
}
.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(to top right, rgb(247, 140, 8), rgb(193, 32, 230)); /* Gradient from bottom-left to top-right */
    position:absolute;
    z-index:-2;
}
.circle2 {
    width: 144px;
    height: 144px;
    margin-left:3px;
    margin-top:3px;
    border-radius: 50%;
    background: white;
    position:absolute;
    z-index:-1;
}
.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1.5rem;
    text-align: center;
}
.profile-text {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1.2px;
    width:100%;
    max-width: 32ch;
    text-align: left;
    padding-left:10%;
    margin:0;
    color:#b2b2b2;
    /* Give text a linear gradient */
    /* background: linear-gradient(to right, #daf0ff, 
                    #a0b9ff, #92abff, #baf3ff); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;  */
}
.profile-text a {
    color: white;
}
.profile-text a:hover {
    color: #ff9800;
    cursor: pointer;
}
.socials {
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin:0;
    padding-left:10%;
    width:100%;
}
.socials p {
    padding-right: 6%;
    margin:0.2em;
    align-items: center;
}
.socials a {
    text-decoration: none;
    color:rgba(181, 181, 181, 0.918);
}
.socials img {
    width: 18px;
    height: 18px;
    position:relative;
}
.instagram:hover{
    color:rgb(215, 125, 215);
}
.linkedin:hover{
    color:rgb(102, 140, 255);
}
.github:hover{
    color:rgb(209, 209, 209);
}

/* Content Section Styles */
.content-wrapper {
    line-height: 1.6;
}
.content-wrapper h2 {
    color: #ececec;
    font-weight: 500;
    letter-spacing: 0.05em;
}
.content-wrapper p {
    color:rgb(151, 151, 151);
}
.about, .contact {
    margin-bottom: 40px;
}

/* Footer Styles */
footer {
    /* background-color: #1f1f1f; */
    color: #e0e0e0;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}